*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: lightgray;
}

header{
    width: 80%;
    margin: auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.heading{
    height: 100px;
    /* min-width: 100px; */
    
}

.small-box{
    background-color: lightgreen;
    flex-basis: 20%;
}

.main-box{
    background-color: aquamarine;
    flex-basis: 60%;
}

.heading-text{
    width: 60%;
    margin: auto;
    text-align: center;
    height: 400px;
    background-color: aliceblue;
}

.container{
    width: 80%;
    margin: auto;
    padding: 30px;
}

.img-txt{
    height: 400px;
    justify-content: space-between;
}

.img-box{
    flex-basis: 50%;
    background-color: antiquewhite;
}

.text-box{
    flex-basis: 43%;
    background-color: aquamarine;
}

.reverse{
    order: 1
}

.bg-grey{
    background-color: lightgray;
}